[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
"psycopg2" = "*"
flask-migrate = "*"
pyjwt = "*"
python-dotenv = "*"
elasticsearch = "*"
elasticsearch-dsl = "*"

[dev-packages]
coverage = "*"
pytest = "*"
pylint = "*"

[requires]
python_version = "3.6"
