[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-mail = "*"
flask-login = "*"
flask-sqlalchemy = "*"
invoke = "*"
flask-wtf = "*"
"psycopg2" = "*"
flask-migrate = "*"

[dev-packages]
coverage = "*"
pytest = "*"
pylint = "*"
faker = "*"

[requires]
python_version = "3.6"
